@import '~variables'

.q-modal-layout-content::-webkit-scrollbar
  width 4px
  &-track
    background-color $grey-3
  &-thumb 
    background $grey-5
    border-radius 2px

@media screen and (min-width 768px)
  .modal-content
    width 30vw
    height 70vh